*DS_Store*
*~
*.o
*.o.tmp
*.cache
*.log
stamp-h*
libtool
*.status
confdefs.h
conftest*
*deps/*
*/.deps/*
*/*/.deps/*
Makefile
config.h
glade.spec
po/Makefile.in
po/POTFILES
po/stamp*
glade/gbwidgets/libgbwidgets.a
